.sablon {
    width:800px;
    height: auto;
    margin: 30px auto;
}
.logo {
    width:100px;
    height: 100px;
    float: left;
    background: url(../images/drawing.png);
    background-repeat: no-repeat;
}
.banner {
    width:690px;
    height:70px;
    float:left;
    margin-left: 10px;
    background-color: #a66f46;
    border-radius: 10px;
    color:#fff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top: 30px;
}
.navbar {
    width:800px;
    height:47px;
    float: left;
    margin-top: 10px;
    background-color: #6a2525;
    border-radius: 10px;
    margin-bottom: 30px;
}
th {
    font-family: 'Fjalla One', sans-serif;
    color: #6a2525;
    font-size: 50px;
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar li {
    float: left;
}
.navbar a {
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    padding-right: 46px;
    padding-left: 23px;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
}
li a:hover {
    color: #a66f46;
}