.sablon {
    width:800px;
    height: auto;
    margin: 30px auto;
}

body {
    background-image:url(../images/back.jpg);
}
.logo {
    width:100px;
    height: 100px;
    float: left;
    background: url(../images/drawing.png); 
    background-repeat: no-repeat;
}
.banner {
    width:690px;
    height:70px;
    float:left;
    margin-left: 10px;
    background-color: #a66f46;
    border-radius: 10px;
    color:#fff; 
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top: 30px; 
}  
.navbar {
    width:800px;
    height:47px;
    float: left;
    margin-top: 10px;
    background-color: #6a2525;
    border-radius: 10px;
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}
.navbar li {
    float: left;
}
.navbar a {
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    padding-right: 46px;
    padding-left: 23px;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
}
li a:hover {
    color: #a66f46;
}
.headerone p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}
.headerone { 
    width: 800px;
    height:60px;
    float: left;
    background-color: #2a2324;
    border-radius: 10px;
    margin-top: 10px;
}
.lang {
    width:800px;
    height: 150px;
    float: left;
    background-color: #2a2324;
    border-radius: 10px;
    margin-top: 10px;
}
li {
    font-family: 'Fjalla One', sans-serif;
    color:#fff;
}
ol {
    margin-top:25px;
    margin-left: 25;
}
.headertwo p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}
.headertwo {
    width: 800px;
    height:60px;
    float: left;
    background-color: #2a2324;
    border-radius: 10px;
    margin-top: 10px;
}
.proglang {
    width:800px;
    height: 270px;
    float: left;
    background-color: #2a2324;
    border-radius: 10px;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.htmlcss {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    width:700px;
    height:30px;
    background-color: #fff;
    border-radius: 5px;
}
.js {
    margin-left: 20px;
    margin-bottom: 10px;
    width:700px;
    height:30px;
    background-color: #fff;
    border-radius: 5px;
}
.java {
    margin-left: 20px;
    margin-bottom: 10px;
    width:700px;
    height:30px;
    background-color: #fff;
    border-radius: 5px;
}
.python {
    margin-left: 20px;
    margin-bottom: 10px;
    width:700px;
    height:30px;
    background-color: #fff;
    border-radius: 5px;
}
.php {
    margin-left: 20px;
    margin-bottom: 10px;
    width:700px;
    height:30px;
    background-color: #fff;
    border-radius: 5px;
}
.cplusplus {
    margin-left: 20px;
    margin-bottom: 10px;
    width:700px;
    height:30px;
    background-color: #fff;
    border-radius: 5px;
}
.limit1 {
    width: 95%;
    height: 30px;
    background-image: url(../images/load.jpg);
    border-radius: 5px; 
}
.limit2 {
    width: 80%;
    height: 30px;
    background-image: url(../images/load.jpg);
    border-radius: 5px;
}
.limit3 {
    width: 75%;
    height: 30px;
    background-image: url(../images/load.jpg);
    border-radius: 5px;
}
.limit4 {
    width: 90%;
    height: 30px;
    background-image: url(../images/load.jpg);
    border-radius: 5px;
}
.limit5 {
    width: 65%;
    height: 30px;
    background-image: url(../images/load.jpg);
    border-radius: 5px;
}
.limit6 {
    width: 80%;
    height: 30px;
    background-image: url(../images/load.jpg);
    border-radius: 5px;
}
.kutu1 {
    position: absolute;
    width: 70px;
    height: 20px;
    margin: 5px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #6a2525;
}
.kutu2 {
    position: absolute;
    width: 70px;
    height: 20px;
    margin: 5px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #6a2525;
}
.kutu3 {
    position: absolute;
    width: 70px;
    height: 20px;
    margin: 5px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #6a2525;
}
.kutu4 {
    position: absolute;
    width: 70px;
    height: 20px;
    margin: 5px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #6a2525;
}
.kutu5 {
    position: absolute;
    width: 70px;
    height: 20px;
    margin: 5px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #6a2525;
}
.kutu6 {
    position: absolute;
    width: 70px;
    height: 20px;
    margin: 5px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #6a2525;
}